<div class="control-group">
  <label class="control-label" for="asset.title">Name</label>
  <div class="controls">
    {{input type="text" value=asset.title placeholder="Name" class="input-xlarge"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="asset.info">Info</label>
  <div class="controls">
    {{textarea value=asset.info placeholder="Info" class="input-xlarge" rows="10"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="asset.url">Url</label>
  <div class="controls">
    {{input type="text" value=asset.url placeholder="Web address of the asset" class="input-xlarge"}}
  </div>
</div>
