{{#modal id="edit_node"}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h3>Edit Node</h3>
  </div>
  {{partial 'node/form'}}
  <div class="modal_delete">
    <a href="#" class="btn" {{action 'do_action' 'destroy_node' target="view"}}>Delete</a>
  </div>
{{/modal}}