{{#modal id="new_node" saveLabel="Add"}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h3>New Node</h3>
  </div>
  <div class="modal-body">
    <form {{action save on="submit" target="view"}} class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="title">Name</label>
        <div class="controls">
          {{input type="text" value=title placeholder="Name" class="input-xlarge name-input"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="info">Info</label>
        <div class="controls">
          {{textarea value=info placeholder="Info" class="input-xlarge" rows="10"}}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          Type: Objective
        </div>
      </div>
    </form>
  </div>
{{/modal}}