{{#modal id="new_node" saveLabel="Add"}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h3>New Node</h3>
  </div>
  {{partial 'node/form'}}
{{/modal}}