{{#modal id="add_map"}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h3>Enter a List of Concepts to Add</h3>
    <p>Use indents to specify hierarchy</p>
  </div>
  <div class="modal-body">
    {{textarea value=content class="map_adder"}}
  </div>
{{/modal}}