{{#modal id="add_map"}}
  <div class="modal-header">
    <button type="button" class="close" {{action close target="view"}}>&times;</button>
    <h3>Paste or Type a List of Concepts</h3>
    <p>(Enter + tab to create heirarchy and enter for a flat design)</p>
  </div>
  <div class="modal-body">
    {{textarea value=content class="map_adder"}}
  </div>
{{/modal}}