{{flash-messages}}
<div id="toolbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <form class="navbar-form form-inline pull-left">
        <label class="control-label" for="title">Title:</label>
        <div class="input-append">
          <input class="span2" id="title" type="text">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>Hydrodynamics</li>
              <li>Micro-nano things</li>
              <li class="divider"></li>
              <li><i class="icon-file"></i> New</li>
              <li><i class="icon-copy"></i> Duplicate</li>
              <li><i class="icon-trash"></i> Delete</li>
            </ul>
          </div>
        </div>
      </form>
      <div class="nav-collapse collapse navbar-inverse-collapse">

        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-download-alt"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-header">Import MC3 Collection</li>
            <li class="divider"></li>
            <li>
              <form class="form-search form-inline">
                <div class="input-append search-container">
                  <input id="map_search" type="text" class="search-query" placeholder="Search Maps">
                  <button id="map_search_btn" type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              </form>
            </li>
            <li class="divider"></li>
            <li></li>
          </ul>
        </div>

        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-th"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-header">Map Library</li>
            <li class="divider"></li>
            <li></li>
          </ul>
        </div>

        <div class="btn-group">
          <a class="btn" href="#" {{action addToMap}} title="Enter a map as a hierarchy">
            <i class="icon-list"></i>
          </a>
        </div>

        <div class="nav pull-right form-inline">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-eye-open"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><label><input type="checkbox">Show Relationships</label></li>
              <li><label><input type="checkbox">Show Relationship Labels</label></li>
              <li><label><input type="checkbox">Show Node Labels</label></li>
              <li><label><input type="checkbox">Show Node Descriptions</label></li>
            </ul>
          </div>
          {{#switch data-on-label="edit" data-off-label="view" class="switch-small"}}
            <input type="checkbox" />
          {{/switch}}
          <a href="#" class="btn">Kate</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="map_container">
  {{outlet}}
</div>

{{outlet modal}}