<div class="modal-backdrop fade">&nbsp;</div>
<div class="modal fade">
  {{yield}}
  <div class="modal-footer">
    <a href="#" class="btn" {{action close target="view"}}>Close</a>
    <a href="#" class="btn btn-primary" {{action save}}>Save</a>
  </div>
<div>