@import 'defines';
@import 'twitter/bootstrap';
body{padding-top: 40px;}
@import 'bootstrap-switch';


body{
  overflow: hidden;
}

#add_map{
  $add_map_width: 70%;
  $add_map_text_height: 370px;
  .map_adder{
    width: 98%;
    height: $add_map_text_height;
  }
  .modal-body{
     max-height: $add_map_text_height + 188;
  }
  .modal{
     height: $add_map_text_height + 188;
     width: $add_map_width;
     margin-left: -$add_map_width/2;
  }
  @media (max-height: 650px) {
   .map_adder{
      width: 98%;
      height: $add_map_text_height - 100;
    }
    .modal-body{
       max-height: $add_map_text_height + 88;
    }
    .modal{
       height: $add_map_text_height + 88;
       width: $add_map_width;
       margin-left: -$add_map_width/2;
    }
  }
  @media (max-height: 550px) {
   .map_adder{
      width: 98%;
      height: $add_map_text_height - 200;
    }
    .modal-body{
       max-height: $add_map_text_height - 12;
    }
    .modal{
       height: $add_map_text_height - 12;
       width: $add_map_width;
       margin-left: -$add_map_width/2;
    }
  }
  @media (max-width: 768px) {
     .modal{
        width:90%;
        margin-left: 2%;
     }
  }
}
.modal_delete{
  position: absolute;
  left: 10px;
  bottom: 14px;
}

.user_form_container{
  margin: 50px auto;
  width: 230px;
}

ul.menu-list{
  margin: 2px 10px;
  padding: 0;
  li{
    list-style: none;
  }
}
.navbar-inner{
  background:white;
  height:47px;
  webkit-box-shadow:none !important;
  box-shadow:none !important;
  moz-box-shadow:none !important;
  border:1px solid $button_border_light_gray;
}
.title_label{
  font-weight:bold;
  color:$font_gray;
  height:20px;
  line-height:46px;
  padding-right:5px;
}
.container{
  .pull-left{
    width:33%;
  }
  .pull-center {
    width:33%;
    text-align:center;
  }
  .pull-right {
    .btn-group{
      margin-left:6px;
      margin-right:6px;
    }
  }
  .toolbar-input{
    font-size:12px;
    color:$yellow;
    font-family: 'Montserret', 'Arial Narrow' sans-serif;
    height:16px;
    webkit-box-shadow:none !important;
    box-shadow:none !important;
    moz-box-shadow:none !important;
    border-right:none;
    border-color:$dropdown_border_gray;
  }
  .nav-collapse{
  line-height:42px;
    .btn-group{
      .btn-toolbar{
        padding:14px;
        border-color:$button_border_gray;
        margin:4px 6px 0 6px;
      }
      .icon_download{
        background:$button_background_gray asset-url('import_collection.png') no-repeat center;
        background-size:19px 19px;
      }
      .icon_th{
        background:$button_background_gray asset-url('library.png') no-repeat center;
        background-size:17px 17px;
      }
      .icon_list{
        background:$button_background_gray asset-url('upload_mass_text.png') no-repeat center;
        background-size:14px 20px;
      }
      .icon_eye_open{
        background:$button_background_gray asset-url('view_option.png') no-repeat 5px center;
        background-size:19px 13px;
      }
      .name_btn{
      padding:4px 8px;
        background:$button_background_gray;
      }
    }
  }
  .input-append{
    .btn{
      background:white;
      webkit-box-shadow:none !important;
      box-shadow:none !important;
      moz-box-shadow:none !important;
      height:26px;
      border-left:none;
      border-color:$dropdown_border_gray;
    }
    .dropdown-menu{
      font-family: 'MavenPro', serif;
    }
  }
  .caret{
    margin-top:6px;
    border-top: 7px solid $dark_gray;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .switch-small{
    margin-top:0;
  }
  label.switch-small{
      background:white;
  }
  .has-switch span.switch-left{
    background:$dark_gray;
  }
}

#toolbar{
  .user_maps{
    max-height: 500px;
    overflow: auto;
  }
}
