// --------------------------------------------------------------------------------
// CMAT Original colors
// --------------------------------------------------------------------------------
$button_border_gray: 				rgb(217,217,217);
$button_background_gray: 		rgb(243, 243, 243);
$button_border_light_gray:	rgb(235,235,235);
$font_gray: 								rgb(243,156,16);
$yellow:										rgb(44,62,80);
$dropdown_border_gray:			rgb(211,215,218);
$dark_gray:									rgb(105,105,105);


//Fonts
// -------------------------
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserret:400,700);